{% extends "base.html" %}

{% block titulo %}TH | Error 404{% endblock %}

{% block contenido %}
<!--<div class="well sidebar-nav">
<div class="jumbotron">
	<h1>404</h1>
	<p class="lead">Algo salio mal :(<br/>
		Estamos trabajando en ello</br>
		<img width="300px" class="img-circle" src="{{STATIC_URL}}img/garenFTW.gif">
	</p>
</div>
</div>-->
<div class="well sidebar-nav">
<div class="jumbotron">
	<h1>404</h1>
	<p class="lead">Algo salio mal :(</p>
	<p class="lead">Pero no te preocupes, que estamos trabajando en ello</br><img width="300px" class="img-rounded" src="{{STATIC_URL}}img/images.jpg"><img width="300px" class="img-rounded" src="{{STATIC_URL}}img/juegos-pc.jpg"></p>
</div>
</div>
{% endblock %}