<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>{% block titulo %}Takara Hunter{% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Web de manejo de rutas y búsquedas del tesoro">
		<meta name="author" content="Jesús Rodríguez Pérez, Raúl Arroyo Lubián, Pedro Daniel López González, Alfonso Lacalle García">
	
		<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="{{ STATIC_URL }}css/takarahunter.css" rel="stylesheet">	
		<!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
		
		<link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
		</style>
	</head>
	<body>
		<!------------------------------------------------------- CONTENIDO ------------------------------------------------------->
		<div class="container">
			<div class="masthead">
				<!------------------------------------------------ CABECERA ------------------------------------------------------->
				<div id="cabecera">
					{% block cabecera %}<h1>Takara Hunter</h1>{% endblock %}
				</div>
				<!------------------------------------------------ CABECERA ------------------------------------------------------->
				<!------------------------------------------- BARRA DE NAVEGACIÓN ------------------------------------------------->
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								{% if user.is_anonymous %}
									<li><a href="/"><i class="icon-home"></i> <p>Inicio</p></a></li>
									<li><a href="/login"><i class="icon-lock"></i> <p>Login</p></a></li>
									<li><a href="/registro"><i class="icon-user"></i> <p>Registro</p></a></li>
								{% else %}
									<li><a href="/perfil"><i class="icon-user"></i> <p>Perfil de usuario</p></a></li>
									<li><a href="/busqueda"><i class="icon-list"></i><i class="icon-globe"></i> <p>Búsquedas</p></a></li>
									<li><a href="/hall"><i class="icon-list"></i><i class="icon-user"></i> <p>Hall de la fama</p></a></li>
									<li><a href="/matriz"><i class="icon-align-justify"></i><i class="icon-user"></i> <p>Matriz de usuarios</p></a></li>
									{% if user.is_superuser %}
										<li><a href="/admin"><i class="icon-lock"></i><i class="icon-adjust"></i> <p>Administración</p></a></li>
									{% endif %}
									<li><a href="/logout"><i class="icon-off"></i> <p>Logout</p></a></li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
				<!------------------------------------------- BARRA DE NAVEGACIÓN ------------------------------------------------->
				<!--------------------------------------------- MENU DE PAGINA ---------------------------------------------------->
				{% block menu_pagina %}{% endblock %}
				<!--------------------------------------------- MENU DE PAGINA ---------------------------------------------------->
			</div>
			<!---------------------------------------------------- MENSAJE -------------------------------------------------------->
			{% block mensaje_informativo %}{% endblock %}
			<!---------------------------------------------------- MENSAJE -------------------------------------------------------->
			<!--------------------------------------------------- CONTENIDO ------------------------------------------------------->
			{% block contenido %}{% endblock %}
			<!--------------------------------------------------- CONTENIDO ------------------------------------------------------->
			<hr>
			<!------------------------------------------------- PIE DE PÁGINA ----------------------------------------------------->
			<div class="footer">
				<div class="navbar">
					<div class="navbar-inner">
						<div class="container">
							<ul class="nav">
								<li><img src="{{ STATIC_URL }}img/django.png" class="img-rounded" width="160px" height="160px"><p>Con la tecnología de Django</p></li>
								<li><img src="{{ STATIC_URL }}img/google_maps.png" class="img-rounded" width="70px" height="70px"><p>Con la tecnología de Google Maps</p></li>
								<li><p>Jesús Rodríguez Pérez</p><p>Raúl Arroyo Lubián</p></li>
								<li><p>Pedro Daniel López González</p><p>Alfonso Lacalle García</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!------------------------------------------------- PIE DE PÁGINA ----------------------------------------------------->
		<!------------------------------------------------------- CONTENIDO ------------------------------------------------------->
		</div>
		<!------------------------------------------------------- CONTENIDO ------------------------------------------------------->
		<script src="{{ STATIC_URL }}js/jquery.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		{% block footerScripts %}
		{% endblock %}
	</body>
</html>