{% extends "base.html" %}

{% block titulo %}TH | Detalle tesoro{% endblock %}


{% block contenido %}
<div class="row-fluid">
	<div class="span6">
		<div class="well sidebar-nav">
			<p><strong>Busqueda: </strong>{{tesoro.busqueda}}</p>
			<p><strong>Coordenada x: </strong>{{tesoro.x}}</p>
			<p><strong>Coordenada y: </strong>{{tesoro.y}}</p>
			{% if tesoro.recogidaPor %}
				<p><strong>Recogido por: </strong>{{tesoro.recogidaPor}}</p>
			{% endif %}
		</div>
	</div>
 	<div class="span6">
		<!--<div class="well sidebar-nav">
			<div id="map-canvas" style="width: 445px; height: 300px"></div>
			<div id="pano" style="width: 445px; height: 300px"></div>
		</div>-->
	</div>
</div>
{% endblock %}