{% extends "base.html" %}

{% block titulo %}TH | Detalle ruta{% endblock %}

{% block footerScripts %}
	<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD2GmIgWJYGPXc95Qc-kUXZC2IeZmHg6n4&sensor=true"></script>
	<script src="{{ STATIC_URL }}js/detalleRuta.js"></script>
{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> <p>Mis rutas</p></a></li>
				<li><a href="/busquedas"><i class="icon-list"></i><i class="icon-flag"></i> <p>Mis búsquedas</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas/borrar/{{id_ruta}}"><i class="icon-trash"></i><i class="icon-flag"></i> <p>Borrar ruta</p></a></li>
				<li><a href="/rutas/nueva"><i class="icon-file"></i><i class="icon-map-marker"></i> <p>Nueva ruta</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span6">
		<div class="well sidebar-nav">
			<form method="post">{% csrf_token %}
				<table class="table table-bordered table-condensed">
					{% if formulario.non_field_errors %}
						<tr>
							<td></td>
							<td>
    							{{ formulario.non_field_errors }}
							</td>
						</tr>
					{% endif %}
					{% if formulario.titulo.errors %}
						<tr class="error">
							<td><i class="icon-warning-sign"></i></td>
							<td>
    							{{ formulario.titulo.errors }}
							</td>
						</tr>
					{% endif %}
					<tr>
						<td><strong>Título:</strong></td>
						<td>{{ formulario.titulo }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ formulario.titulo.help_text }}</td>
					</tr>
					{% if formulario.pax.errors %}
						<tr class="error">
							<td><i class="icon-warning-sign"></i></td>
							<td>
    							{{ formulario.pax.errors }}
							</td>
						</tr>
					{% endif %}
					<tr>
						<td><strong>Punto A - X:</strong></td>
						<td>{{ formulario.pax }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ formulario.pax.help_text }}</td>
					</tr>
					{% if formulario.pay.errors %}
						<tr class="error">
							<td><i class="icon-warning-sign"></i></td>
							<td>
    							{{ formulario.pay.errors }}
							</td>
						</tr>
					{% endif %}
					<tr>
						<td><strong>Punto A - Y:</strong></td>
						<td>{{ formulario.pay }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ formulario.pay.help_text }}</td>
					</tr>
					{% if formulario.pbx.errors %}
						<tr class="error">
							<td><i class="icon-warning-sign"></i></td>
							<td>
    							{{ formulario.pbx.errors }}
							</td>
						</tr>
					{% endif %}
					<tr>
						<td><strong>Punto B - X:</strong></td>
						<td>{{ formulario.pbx }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ formulario.pbx.help_text }}</td>
					</tr>
					{% if formulario.pby.errors %}
						<tr class="error">
							<td><i class="icon-warning-sign"></i></td>
							<td>
    							{{ formulario.pby.errors }}
							</td>
						</tr>
					{% endif %}
					<tr>
						<td><strong>Punto B - Y:</strong></td>
						<td>{{ formulario.pby }}</td>
					</tr>
					<tr>
						<td></td>
						<td>{{ formulario.pby.help_text }}</td>
					</tr>
					<tr>
						<td><input class="btn btn-primary" type="submit" value="Modificar ruta" /></td>
					</tr>
				</table>
    			<!--<div>
        			<section id="errores">
    					{{ formulario.pax.errors }}
					</section>
        			<strong>Punto A - X: </strong>{{ formulario.pax }}<br>
					{{ formulario.pax.help_text }}
					<hr>
    			</div>
    			<div>
        			<section id="errores">
    					{{ formulario.pay.errors }}
					</section>
        			<strong>Punto A - Y: </strong>{{ formulario.pay }}<br>
					{{ formulario.pay.help_text }}
					<hr>
    			</div>
    			<div>
        			<section id="errores">
    					{{ formulario.pbx.errors }}
					</section>
        			<strong>Punto A - X: </strong>{{ formulario.pbx }}<br>
					{{ formulario.pbx.help_text }}
					<hr>
    			</div>
    			<div>
        			<section id="errores">
    					{{ formulario.pby.errors }}
					</section>
        			<strong>Punto B - Y: </strong>{{ formulario.pby }}<br>
					{{ formulario.pby.help_text }}
					<hr>
    			</div>-->
			</form>
			<!--<form class="" method="post" action="">
				{% csrf_token %}
				<table>{{formulario}}</table>
				<input class="btn btn-primary" type="submit" value="Modificar ruta" />
			</form>-->
		</div>
	</div>
 	<div class="span6">
		<div class="well sidebar-nav">
			<div id="mapa"></div>
		</div>
	</div>
</div>
{% endblock %}