{% extends "base.html" %}

{% block titulo %}TH | Detalle búsqueda{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				{% if user.is_superuser %}
					<li><a href="/busquedas/borrar/{{busqueda.id}}"><i class="icon-trash"></i><i class="icon-globe"></i> <p>Borrar búsqueda</p></a></li>
					<li><a href="/busquedas/nueva"><i class="icon-file"></i><i class="icon-globe"></i> <p>Nueva búsqueda</p></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span6">
		<div class="well sidebar-nav">
			<p><strong>Título: </strong>{{busqueda.titulo}}</p>
			<p><strong>Descripción: </strong>{{busqueda.descripcion}}</p>
			<p><strong>Participantes: </p>
			{% if participantes %}
				{% for participante in participantes %}
					<ul>
						<li>{{participante.username}}</li>
					</ul>
				{% endfor %}
			{% else %}
				<p>No hay participantes.</p>
			{% endif %}
		</div>
	</div>
 	<div class="span6">
		<!--<div class="well sidebar-nav">
			<div id="map-canvas" style="width: 445px; height: 300px"></div>
			<div id="pano" style="width: 445px; height: 300px"></div>
		</div>-->
	</div>
</div>
{% endblock %}