{% extends "base.html" %}

{% block titulo %}TH | Detalle tesoro{% endblock %}

{% block footerScripts %}
	<style>
		#mapa img
		{
			max-width: none;
		}
	</style>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true&amp;libraries=geometry"></script>
   	<script type="text/javascript">
   		$(document).ready(function()
		{
			inicializar()
		});
		
		var marker;
		var map;

		function inicializar()
		{
			var x = document.getElementById('id_x').value;
			var y = document.getElementById('id_y').value;
			var loc_tesoro = new google.maps.LatLng(x, y);
			
  			var mapOptions =
  			{
    			zoom: 15,
    			mapTypeId: google.maps.MapTypeId.ROADMAP,
    			center: loc_tesoro,
    			draggable:true,
				panControl:true,
				zoomControl:true,
				mapTypeControl:false,
				scaleControl:false,
				streetViewControl:false,
				overviewMapControl:false,
  			};

  			map = new google.maps.Map(document.getElementById('mapa'), mapOptions);
  			
  			marker = new google.maps.Marker(
  			{
    			map:map,
    			draggable:false,
    			animation: google.maps.Animation.DROP,
    			position: loc_tesoro,
    			icon: '{{STATIC_URL}}img/moneda_takara.png' 
  			});
		}
	</script>
{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/tesoros/borrar/{{tesoro.id}}"><i class="icon-trash"></i><i class="icon-flag"></i> Borrar tesoro</a></li>
				<li><a href="/tesoros/nuevo/"><i class="icon-file"></i><i class="icon-flag"></i> Nuevo tesoro</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span6">
		<div class="well sidebar-nav">
			<table class="table table-striped table-hover">
				<tr>
					<td><strong>Busqueda:</strong></td>
					<td>{{tesoro.busqueda}}</td>
				</tr>
				<tr>
					<td><strong>Coordenada X:</strong></td>
					<td><input type="text" readonly="true" id="id_x" value="{{tesoro.x|stringformat:'f'}}"></td>
				</tr>
				<tr>
					<td><strong>Coordenada Y:</strong></td>
					<td><input type="text" readonly="true" id="id_y" value="{{tesoro.y|stringformat:'f'}}"></td>
				</tr>
				{% if tesoro.recogidaPor %}
					<tr>
						<td><strong>Recogido por:</strong></td>
						<td>{{tesoro.recogidaPor}}</td>
					</tr>
				{% else %}
					<tr>
						<td><strong>Recogido por:</strong></td>
						<td>Nadie</td>
					</tr>
				{% endif %}
			</table>
		</div>
	</div>
 	<div class="span6">
		<div class="well sidebar-nav">
			<div id="mapa" style="width: 445px; height: 300px"></div>
		</div>
	</div>
</div>
{% endblock %}