{% extends "base.html" %}

{% block titulo %}TH | Editar perfil{% endblock %}

{% block style %}
<style type="text/css">
  div#map {
    position: relative;
  }

  div#crosshair {
    position: absolute;
    top: 192px;
    height: 10px;
    width: 10px;
    left: 50%;
    margin-left: -8px;
    display: block;
    /*background: url({{STATIC_URL}}img/garenFTW.gif);
    background-position: center center;
    background-repeat: no-repeat;*/
   
}
</style>
{% endblock %}


{% block footerScripts %}

<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true"></script>
<script type="text/javascript">
	var map;
	var geocoder;
	var centerChangedLast;
	var reverseGeocodedLast;
	var currentReverseGeocodeResponse;

	$(document).ready(function() {
		initialize()
	});

	function initialize() {
		var latlng = new google.maps.LatLng(37.88678116397235, -4.774135385131766);
		var myOptions = {
			zoom : 6,
			center : latlng,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
		geocoder = new google.maps.Geocoder();

		setupEvents();
		centerChanged();
	}

	function setupEvents() {
		reverseGeocodedLast = new Date();
		centerChangedLast = new Date();

		setInterval(function() {
			if ((new Date()).getSeconds() - centerChangedLast.getSeconds() > 1) {
				if (reverseGeocodedLast.getTime() < centerChangedLast.getTime())
					reverseGeocode();
			}
		}, 1000);

		google.maps.event.addListener(map, 'zoom_changed', function() {
			document.getElementById("zoom_level").innerHTML = map.getZoom();
		});

		google.maps.event.addListener(map, 'center_changed', centerChanged);

		google.maps.event.addDomListener(document.getElementById('crosshair'), 'dblclick', function() {
			map.setZoom(map.getZoom() + 1);
		});

	}

	function getCenterLatLngText() {
		return '(' + map.getCenter().lat() + ', ' + map.getCenter().lng() + ')';
	}

	function centerChanged() {
		centerChangedLast = new Date();
		var latlng = getCenterLatLngText();
		document.getElementById('latlng').innerHTML = latlng;
		document.getElementById('formatedAddress').innerHTML = '';
		/*alert(latlng);*/
		var coords=latlng.split(',');
		px=coords[0].split('(')[1];
		py=coords[1].split(')')[0];
		$('#id_px').val(px);
		$('#id_py').val(py);
		currentReverseGeocodeResponse = null;
	}

	function reverseGeocode() {
		reverseGeocodedLast = new Date();
		geocoder.geocode({
			latLng : map.getCenter()
		}, reverseGeocodeResult);
	}

	function reverseGeocodeResult(results, status) {
		currentReverseGeocodeResponse = results;
		if (status == 'OK') {
			if (results.length == 0) {
				document.getElementById('formatedAddress').innerHTML = 'None';
			} else {
				document.getElementById('formatedAddress').innerHTML = results[0].formatted_address;
			}
		} else {
			document.getElementById('formatedAddress').innerHTML = 'Error';
		}
	}

	function geocode() {
		var address = document.getElementById("address").value;
		geocoder.geocode({
			'address' : address,
			'partialmatch' : true
		}, geocodeResult);
	}

	function geocodeResult(results, status) {
		if (status == 'OK' && results.length > 0) {
			map.fitBounds(results[0].geometry.viewport);
		} else {
			alert("Geocode was not successful for the following reason: " + status);
		}
	}

</script>	
{% endblock %}


{% block contenido %}

<form class="" method="post" action="" enctype="multipart/form-data">
	<table>
		{% csrf_token %}
		{{formulario}}
	</table>
	<input class="btn btn-primary" type="submit" value="Guardar" />
	<!--<input class="btnA unselected" type="reset" value="Cancelar" />-->
</form>

<div id="mapa">
  Find Place: <input type="text" id="address"/><input type="button" value="Go" onclick="geocode()">
  <div id="map">
    <div id="map_canvas" style="width:100%; height:400px"></div>
    <div  id="crosshair"></div>
  </div>

  <table>
    <tr><td>Lat/Lng:</td><td><div id="latlng"></div></td></tr>
    <tr><td>Address:</td><td><div id="formatedAddress"></div></td></tr>
    <tr><td>Zoom Level</td><td><div id="zoom_level">2</div></td></tr>
  </table>
</div>


{% endblock %}