{% extends "base.html" %}

{% block titulo %}TH | Hall de la fama{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<table class="table table-striped table-hover" alin>
		<tr>
			<td><strong>Usuario</strong></td>
			<td><strong>Número de tesoros</strong></td>
			<td><strong>Rango</strong></td>
			<td><strong>Medalla</strong></td>
		</tr>
		{% if campeon %}
			<tr>
				<td><strong>{{campeon.username}}</strong></td>
				<td><strong>{{campeon.recogidaPor__count}}</strong></td>
				<td><strong>Takara Hunter</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_campeon_p.png" height="50px" width="50px"/></td>
			</tr>
		{% else %}
		<tr>
			<td><strong>No hay auténticos buscadores de tesoros en este momento</strong></td>
			<td></td>
			<td></td>
		</tr>
		{% endif %}
		{% if diamante %}
			<tr>
				<td><strong>{{diamante.username}}</strong></td>
				<td><strong>{{diamante.recogidaPor__count}}</strong></td>
				<td><strong>Cazador legendario</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_diamante1_p.png" height="50px" width="50px"/></td>
			</tr>
		{% endif %}
		{% if platino %}
			<tr>
				<td><strong>{{platino.username}}</strong></td>
				<td><strong>{{platino.recogidaPor__count}}</strong></td>
				<td><strong>Maestro cazador</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_platino1_p.png" height="50px" width="50px"/></td>
			</tr>
		{% endif %}
		{% if oro %}
			<tr>
				<td><strong>{{oro.username}}</strong></td>
				<td><strong>{{oro.recogidaPor__count}}</strong></td>
				<td><strong>Líder cazador</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_oro1_p.png" height="50px" width="50px"/></td>
			</tr>
		{% endif %}
		{% if plata %}
			<tr>
				<td><strong>{{plata.username}}</strong></td>
				<td><strong>{{plata.recogidaPor__count}}</strong></td>
				<td><strong>Cazador experto</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_plata1_p.png" height="50px" width="50px"/></td>
			</tr>
		{% endif %}
		{% if bronce %}
			<tr>
				<td><strong>{{bronce.username}}</strong></td>
				<td><strong>{{bronce.recogidaPor__count}}</strong></td>
				<td><strong>Cazador novato</strong></td>
				<td><img src="{{STATIC_URL}}img/medalla_bronce1_p.png" height="50px" width="50px"/></td>
			</tr>
		{% endif %}
		{% for usuario in elresto %}
			<tr>
				<td><strong>{{usuario.username}}</strong></td>
				<td><strong>{{usuario.recogidaPor__count}}</strong></td>
				<td><strong>Desconocido</strong></td>
				<td></td>
			</tr>
		{% endfor %}
	</table>
</div>
<!--<ol class="well">
{% for usuario in lista %}
<li>
	{{usuario.username}} - {{usuario.recogidaPor__count}}
</li>
{% empty %}
	<li>No hay auténticos buscadores de tesoros en este momento.</li>
{% endfor %}
</ol>-->
{% endblock %}