{% extends "base.html" %}

{% block titulo %}TH | Lista rutas{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<table class="table table-striped table-hover" alin>
		<tr>
			<td><strong>Nombre</strong></td>
			<td><strong>Origen - X</strong></td>
			<td><strong>Origen - Y</strong></td>
			<td><strong>Destino - X</strong></td>
			<td><strong>Destino - Y</strong></td>
			<td><strong>Modo</strong></td>
			<td><a class="btn btn-info btn-block" href="/rutas/nueva"><i class="icon-file"></i><i class="icon-map-marker"></i> Nueva</a></td>
		</tr>
		{% if rutas %}
			{% for ruta in rutas %}
				<tr>
					<td><a href="/rutas/{{ ruta.id }}">{{ ruta.titulo }}</a></td>
					<td>{{ ruta.origen_x }}</td>
					<td>{{ ruta.origen_y }}</td>
					<td>{{ ruta.destino_x }}</td>
					<td>{{ ruta.destino_y }}</td>
					<td>{{ ruta.modo }}</td>
					<td><a class="btn btn-danger btn-block" href="/rutas/borrar/{{ ruta.id }}"><i class="icon-trash"></i><i class="icon-map-marker"></i> Borrar</a></td>
				</tr>
			{% endfor %}
    	{% else %}
			<tr>
				<td><strong>No hay rutas</strong></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
    	{% endif %}
	</table>
</div>
{% endblock %}