{% extends "base.html" %}

{% block titulo %}TH | Lista búsquedas{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<table class="table table-striped table-hover">
		<tr>
			<td><strong>Título</strong></td>
			<td><strong>Descripción</strong></td>
			{% if user.is_superuser %}
				<td><strong>Estado</strong></td>
			{% endif %}
			{% if user.is_superuser %}
				<td><a class="btn btn-info btn-block" href="/busquedas/nueva"><i class="icon-file"></i><i class="icon-globe"></i> Nueva</a></td>
			{% endif %}
		</tr>
		{% if busquedas1 %}
			{% for busqueda in busquedas1 %}
				<tr>
					<td><a href="/busquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></td>
					<td>{{ busqueda.descripcion }}</td>
					{% if user.is_superuser %}
						<td>{{ busqueda.estado }}</td>
					{% endif %}
					<td><a class="btn btn btn-warning btn-block" href="/busquedas/salir/{{ busqueda.id }}"><i class="icon-remove"></i><i class="icon-globe"></i> Abandonar</a></td>
				</tr>
			{% endfor %}
    	{% else %}
			<tr>
				<td><strong>No hay búsquedas en las que participes</strong></td>
				<td></td>
				{% if user.is_superuser %}
					<td></td>
				{% endif %}
				{% if user.is_superuser %}
					<td></td>
				{% endif %}
			</tr>
    	{% endif %}
    	{% if busquedas2 %}
			{% for busqueda in busquedas2 %}
				<tr>
					<td><a href="/busquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></td>
					<td>{{ busqueda.descripcion }}</td>
					{% if user.is_superuser %}
						<td>{{ busqueda.estado }}</td>
					{% endif %}
					<td><a class="btn btn btn-success btn-block" href="/busquedas/unirse/{{ busqueda.id }}"><i class="icon-ok"></i><i class="icon-globe"></i> Unirse</a></td>
				</tr>
			{% endfor %}
    	{% else %}
			<tr>
				<td><strong>No hay búsquedas en las que no participes</strong></td>
				<td></td>
				{% if user.is_superuser %}
					<td></td>
				{% endif %}
				{% if user.is_superuser %}
					<td></td>
				{% endif %}
			</tr>
    	{% endif %}
	</table>
</div>
{% endblock %}