{% extends "base.html" %}

{% block titulo %}TH | Lista rutas{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> <p>Mis rutas</p></a></li>
				<li><a href="/busquedas"><i class="icon-list"></i><i class="icon-flag"></i> <p>Mis búsquedas</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas/nueva"><i class="icon-file"></i><i class="icon-map-marker"></i> <p>Nueva ruta</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<table class="table table-striped">
		<tr>
			<td>Nombre</td>
			<td>Origen</td>
			<td>Destino</td>
			<td>Modo</td>
		</tr>
		{% if rutas %}
			{% for ruta in rutas %}
				<tr>
					<td><a href="/rutas/{{ ruta.id }}">{{ ruta.titulo }}</a></td>
					<td>{{ ruta.origen }}</td>
					<td>{{ ruta.destino }}</td>
					<td>{{ ruta.modo }}</td>
				</tr>
			{% endfor %}
    	{% else %}
			<tr>
				<td>No hay rutas.</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
    	{% endif %}
	</table>
</div>
{% endblock %}