{% extends 'base.html' %}

{% block titulo %}TH | Inicio{% endblock %}

{% block mensaje_informativo %}
	{% if mensaje %}
		<div class="jumbotron">
			<i class="icon-warning-sign"></i><h3 class="text-error">{{ mensaje }}</h3>
		</div>
	{% endif %}
{% endblock %}

{% block contenido %}
<div class="container">
	<form class="form-signin" method="post" action="/login/">
		<h2 class="form-signin-heading">Login</h2>
		{% csrf_token %}
		<input type="text" name="username" required="" class="input-block-level" placeholder="Nombre de usuario">
		<input type="password" name="password" required="" class="input-block-level" placeholder="Password">
		<!--<label class="checkbox">
			<input type="checkbox" value="remember-me"> Recordarme
		</label>-->
		<button class="btn btn-large btn-primary" type="submit">Login</button>
	</form>
</div>
{% endblock %}