{% extends "base.html" %}

{% block titulo %}TH | Matriz de usuarios{% endblock %}

{% block footerScripts %}
	<style>
		#map-canvas img
		{
			max-width: none;
		}
		.cell:hover
		{
			background-color: #ddd;
		}
		.dir
		{
			display: none;
		}
	</style>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true"></script>
	<script type="text/javascript">
	var directionsDisplay;
	var directionsService = new google.maps.DirectionsService();
	var map;
	var usuarios=[];
	var usuarios=[];
	{% for usuario in usuarios %}
		usuarios[{{forloop.counter0}}]=
			{id:{{forloop.counter0}},
			username:'{{usuario.username}}',
			px:{{ usuario.px|stringformat:"f" }},
			py:{{ usuario.py|stringformat:"f" }}
		};
	{% endfor %}		
	console.log(usuarios);
	

	

	$(document).ready(function() {
		initialize();
		getMatriz();
		
		$('#id_modo').change(getMatriz);
		

	});

	function initialize() {
		directionsDisplay = new google.maps.DirectionsRenderer();
	
		var centro = new google.maps.LatLng(37.735261, -4.791666);
		var mapOptions = {
			center : centro,
			zoom : 9,
			mapTypeId : google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
		directionsDisplay.setMap(map);
	}
	
	function getMatriz(){
		var modo=$('#id_modo').val().toLowerCase();
		var url = 'http://maps.googleapis.com/maps/api/distancematrix/json?origins={% for usuario in usuarios %}{% if forloop.last %}{{ usuario.px|stringformat:"f" }},{{ usuario.py|stringformat:"f" }}{% else %}{{ usuario.px|stringformat:"f" }},{{ usuario.py|stringformat:"f" }}|{% endif %}{% endfor %}&destinations={% for usuario in usuarios %}{% if forloop.last %}{{ usuario.px|stringformat:"f" }},{{ usuario.py|stringformat:"f" }}{% else %}{{ usuario.px|stringformat:"f" }},{{ usuario.py|stringformat:"f" }}|{% endif %}{% endfor %}'+
		'&mode='+modo+'&language=es-ES&sensor=false';
		$.getJSON(url, function(data) {
			console.log(url);
			generarTabla(data);
			/*
			var items = [];
			$.each(data, function(key, val) {
				items.push('<li id="' + key + '">' + val + '</li>');
			});
			$('<ul/>', {
				'class': 'my-new-list',
				html: items.join('')
			}).appendTo('body');*/
		});
	}
	
	
	function generarTabla(datos){
		console.log(datos);
		tabla='<thead><tr><th></th>';
		
		for (var i=0;i<datos.destination_addresses.length;i++){
			var user=usuarios[i].username;
			var dir=datos.destination_addresses[i];
			tabla+='<th>'+user+'<div class="dir">'+dir+'</div></th>';
		}
		tabla+='</tr></thead><tbody>';
		
		for (var i=0;i<datos.origin_addresses.length;i++){
			var user=usuarios[i].username;
			var dir=datos.destination_addresses[i];
			var row=datos.rows[i].elements;
			tabla+='<tr>';
			tabla+='<th>'+user+'<div class="dir">'+dir+'</div></th>';
			for (var j=0;j<row.length;j++){
				tabla+='<td class="cell"> '+row[j].distance.text+' - '+row[j].duration.text+'</td>';
			}
			tabla+='</tr>';
		}
		tabla+='</tbody>';
		$("#tablaDatos").html(tabla);
		console.log(tabla);

		$("td.cell").hover(calcRoute);
	}

	function calcRoute(evt) {
		//console.log(getMatriz());
		//var start = $(this).parent("sx").val()+','+$(this).parent("sy").val();
		//var end =  $(this).parent("ex").val()+','+$(this).parent("ey").val();
		var thd = $(this).closest('table').find('th').eq($(this).index());
		var tho = $(this).closest('tr').find('th:first');
		var start=$(tho).find('.dir').text();
		var end = $(thd).find('.dir').text();
		var modo=$('#id_modo').val();
		console.log(start);
	
		var request = {
			origin:start,
			destination:end,
			travelMode: google.maps.DirectionsTravelMode[modo]
		};
		directionsService.route(request, function(response, status) {
			if (status == google.maps.DirectionsStatus.OK) {
				directionsDisplay.setDirections(response);
			}
		});
	}
	</script>
{% endblock %}

{% block contenido %}
<div class="well">
	<center><label for="id_modo"><strong>Modo de transporte: </strong></label><select id="id_modo" name="modo">
		<option value="WALKING">A pie</option>
		<option value="DRIVING">Coche</option>
		<option value="BICYCLING">Bicicleta</option>
		<option value="TRANSIT">Transporte público</option>
	</select></center>
	
	<table id="tablaDatos" class="table table-bordered"></table>

	<div id="map-canvas" style="width: 100%; height:400px"></div>
	
</div>
{% endblock %}