{% extends "base.html" %}

{% block titulo %}TH | Mi lista búsquedas{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> Mis rutas</a></li>
				<li><a href="/misbusquedas"><i class="icon-list"></i><i class="icon-flag"></i> Mis búsquedas</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<table class="table table-striped table-hover">
		<tr>
			<td><strong>Título</strong></td>
			<td><strong>Descripción</strong></td>
			<td></td>
			<td></td>
		</tr>
		{% if busquedas %}
			{% for busqueda in busquedas %}
				<tr>
					<td><a href="/misbusquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></td>
					<td>{{ busqueda.descripcion }}</td>
					<td><a class="btn btn-success btn-block" href="/misbusquedas/realizar/{{ busqueda.id }}"><i class="icon-play"></i><i class="icon-globe"></i> Realizar</a></td>
					<td><a class="btn btn-warning btn-block" href="/misbusquedas/salir/{{ busqueda.id }}"><i class="icon-remove"></i><i class="icon-globe"></i> Abandonar</a></td>
				</tr>
			{% endfor %}
    	{% else %}
			<tr>
				<td><strong>No hay búsquedas en las que participes</strong></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
    	{% endif %}
	</table>
</div>
{% endblock %}