{% extends "base.html" %}

{% block titulo %}TH | Perfil{% endblock %}

{% block mensaje_informativo %}
	{% if mensaje %}
		<div class="jumbotron">
			<h2>{{mensaje}}</h2>
		</div>
	{% endif %}
{% endblock %}

{% block footerScripts %}
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true"></script>
		<script>
			$(document).ready(function(){
				initialize()
			});
			function initialize() {
				var fenway = new google.maps.LatLng(42.345573, -71.098326);
				var mapOptions = {
					center : fenway,
					zoom : 14,
					mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
				var panoramaOptions = {
					position : fenway,
					pov : {
						heading : 34,
						pitch : 10
					}
				};
				var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
				map.setStreetView(panorama);
			}
			
		</script>
{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> <p>Mis rutas</p></a></li>
				<li><a href="/misbusquedas"><i class="icon-list"></i><i class="icon-flag"></i> <p>Mis búsquedas</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/perfil/editar"><i class="icon-edit"></i><i class="icon-user"></i> <p>Modifcar perfil</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span4">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Datos del perfil</li>
				<li>
					{% if  user.foto %}
						<img src="{{MEDIA_DIR}}{{user.foto}}"/>
					{% endif %}
				</li>
				<li>Nombre: {{ user.username }}</li>
				<li>Correo: {{ user.email }}</li>
				
				<li>Nombre propio: {{ user.first_name }}</li>
				<li>Apellidos: {{ user.last_name }}</li>
				
				<li>Fecha de nacimiento: {{ user.fecha_nacimiento}}</li>
				<li>Teléfono: {{ user.telefono}}</li>
				<li>Profesión: {{ user.profesion}}</li>
				<li>Sexo: {{ user.sexo}}</li>
				
				<li>Coordenada X: {{ user.px }}</li>
				<li>Coordenada Y: {{ user.py }}</li>

			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="well sidebar-nav">
			<table class="table table-striped table-hover">
				<tr>
					<td><strong>Últimas rutas</strong></td>
					<td><a class="btn btn-info btn-block" href="/rutas/nueva"><i class="icon-file"></i><i class="icon-map-marker"></i></a></td>
				</tr>
				{% if ultimas_rutas %}
					{% for ruta in ultimas_rutas %}
						<tr>
							<td><a href="/rutas/{{ ruta.id }}">{{ ruta.titulo }}</a></td>
							<td><a class="btn btn-danger btn-block" href="/rutas/borrar/{{ ruta.id }}"><i class="icon-remove"></i><i class="icon-map-marker"></i></a></td>
						</tr>
					{% endfor %}
    			{% else %}
					<tr>
						<td><strong>No hay rutas</strong></td>
						<td></td>
					</tr>
    			{% endif %}
			</table>
		</div>
	</div>
 	<div class="span4">
		<div class="well sidebar-nav">
			<table class="table table-striped table-hover">
				<tr>
					<td><strong>Últimas búsquedas</strong></td>
					<td></td>
					<td></td>
				</tr>
				{% if ultimas_busquedas %}
					{% for busqueda in ultimas_busquedas %}
						<tr>
							<td><a href="/misbusquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></td>
							<td><a class="btn btn-success btn-block" href="/misbusquedas/realizar/{{ busqueda.id }}"><i class="icon-play"></i><i class="icon-globe"></i></a></td>
							<td><a class="btn btn-warning btn-block" href="/misbusquedas/salir/{{ busqueda.id }}"><i class="icon-remove"></i><i class="icon-globe"></i></a></td>
						</tr>
					{% endfor %}
    			{% else %}
					<tr>
						<td><strong>No hay búsquedas</strong></td>
						<td></td>
						<td></td>
					</tr>
    			{% endif %}
			</table>
		</div>
	</div>
</div>
{% endblock %}