{% extends "base.html" %}

{% block titulo %}TH | Perfil{% endblock %}

{% block footerScripts %}
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true"></script>
		<script>
			$(document).ready(function(){
				initialize()
			});
			function initialize() {
				alert("ola ke hace")
				var fenway = new google.maps.LatLng(42.345573, -71.098326);
				var mapOptions = {
					center : fenway,
					zoom : 14,
					mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
				var panoramaOptions = {
					position : fenway,
					pov : {
						heading : 34,
						pitch : 10
					}
				};
				var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
				map.setStreetView(panorama);
			}
			
		</script>
{% endblock %}

{% block mensaje_informativo %}
{% if mensaje %}
	<div class="jumbotron">
		<h2>{{mensaje}}</h2>
	</div>
{% endif %}
{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> <p>Mis rutas</p></a></li>
				<li><a href="/busquedas"><i class="icon-list"></i><i class="icon-flag"></i> <p>Mis búsquedas</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block menu_inferior %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/perfil/editar"><i class="icon-edit"></i><i class="icon-user"></i> <p>Modifcar perfil</p></a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span4">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Perfil</li>
				<li>Nombre: {{ user.username }}</li>
				<li>Sexo: {{ user.sexo}}</li>
				
				<li>Coordenada X: {{ user.px }}</li>
				<li>Coordenada Y: {{ user.px }}</li>

			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Últimas rutas</li>
				{% if ultimas_rutas %}
					{% for ruta in ultimas_rutas %}
						<li><a href="/rutas/{{ ruta.id }}">{{ ruta.titulo }}</a></li>
					{% endfor %}
    			{% else %}
					<li><p>No hay rutas.</p></li>
    			{% endif %}
			</ul>
		</div>
	</div>
 	<div class="span4">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Últimas búsquedas</li>
				{% if ultimas_busquedas %}
					{% for busqueda in ultimas_busquedas %}
						<li><a href="/busquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></li>
					{% endfor %}
    			{% else %}
					<li><p>No hay búsquedas.</p></li>
    			{% endif %}
			</ul>
		</div>
	</div>
</div>
<div>
	<div id="map-canvas" style="width: 400px; height: 300px"></div>
	<div id="pano" style="width: 400px; height: 300px;"></div>
</div>
{% endblock %}