{% extends "base.html" %}

{% block titulo %}TH | Perfil{% endblock %}

{% block mensaje_informativo %}
	{% if mensaje %}
		<div class="jumbotron">
			<h2>{{mensaje}}</h2>
		</div>
	{% endif %}
{% endblock %}

{% block footerScripts %}
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true"></script>
		<script>
			$(document).ready(function(){
				initialize()
			});
			function initialize() {
				var fenway = new google.maps.LatLng(42.345573, -71.098326);
				var mapOptions = {
					center : fenway,
					zoom : 14,
					mapTypeId : google.maps.MapTypeId.ROADMAP
				};
				var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
				var panoramaOptions = {
					position : fenway,
					pov : {
						heading : 34,
						pitch : 10
					}
				};
				var panorama = new google.maps.StreetViewPanorama(document.getElementById('pano'), panoramaOptions);
				map.setStreetView(panorama);
			}
			
		</script>
{% endblock %}

{% block menu_pagina %}
<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/rutas"><i class="icon-list"></i><i class="icon-map-marker"></i> Mis rutas</a></li>
				<li><a href="/misbusquedas"><i class="icon-list"></i><i class="icon-flag"></i> Mis búsquedas</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block menu_inferior %}
<!--<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<ul class="nav">
				<li><a href="/perfil/editar"><i class="icon-edit"></i><i class="icon-user"></i> Modifcar perfil</a></li>
			</ul>
		</div>
	</div>
</div>-->
{% endblock %}

{% block contenido %}
<div class="row-fluid">
	<div class="span4">
		<div class="well sidebar-nav">
			<!--<table class="table table-striped table-hover">
				<tr>
					<td><strong>Datos del perfil</strong></td>
					<td><a class="btn btn-info btn-block" href="/perfil/editar"><i class="icon-edit"></i><i class="icon-user"></i></a></td>
				</tr>
				<tr>
					<td><img src="{{MEDIA_URL}}{{user.foto}}" class="img-rounded"/></td>
					<td></td>
				</tr>
				<tr>
					<td><strong>Nombre de usuario:</strong></td>
					<td>{{ user.username }}</td>
				</tr>
				<tr>
					<td><strong>Correo:</strong></td>
					<td>{{ user.email }}</td>
				</tr>
				<tr>
					<td><strong>Nombre propio:</strong></td>
					<td>{{ user.first_name }}</td>
				</tr>
				<tr>
					<td><strong>Apellidos:</strong></td>
					<td>{{ user.last_name }}</td>
				</tr>
				<tr>
					<td><strong>F. nacimiento:</strong></td>
					{% if user.fecha_nacimiento %}
						<td>{{ user.fecha_nacimiento}}</td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
				<tr>
					<td><strong>Teléfono:</strong></td>
					{% if user.telefono %}
						<td>{{ user.telefono}}</td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
				<tr>
					<td><strong>Profesión:</strong></td>
					<td>{{ user.profesion}}</td>
				</tr>
				<tr>
					<td><strong>Sexo:</strong></td>
					<td>{{ user.sexo}}</td>
				</tr>
				<tr>
					<td><strong>Coordenada X:</strong></td>
					{% if user.px %}
						<td>{{ user.px}}</td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
				<tr>
					<td><strong>Coordenada Y:</strong></td>
					{% if user.py %}
						<td>{{ user.py}}</td>
					{% else %}
						<td></td>
					{% endif %}
				</tr>
			</table>-->
			<ul class="nav nav-list">
				<a class="btn btn-info btn-block" href="/perfil/editar"><i class="icon-edit"></i><i class="icon-user"></i></a>
				<li class="nav-header"><center>Perfil</center></li>
				<li><center>
					{% if  user.foto %}
						<img src="{{MEDIA_URL}}{{user.foto}}" class="img-rounded"/>
					{% endif %}
				</center></li>
				<li class="nav-header"><center>Datos de cuenta</center></li>
				<li><strong>Nombre de usuario:</strong> {{ user.username }}</li>
				<li><strong>Correo:</strong> {{ user.email }}</li>
				<li class="nav-header"><center>Información personal</center></li>
				<li><strong>Nombre:</strong> {{ user.first_name }}</li>
				<li><strong>Apellidos:</strong> {{ user.last_name }}</li>
				<li><strong>F. nacimiento:</strong> 
					{% if user.fecha_nacimiento %}
						{{ user.fecha_nacimiento}}
					{% else %}
						
					{% endif %}</li>
				<li><strong>Teléfono:</strong>
					{% if user.telefono %}
						{{ user.telefono}}
					{% else %}
						
					{% endif %}</li>
				<li><strong>Profesión:</strong> {{ user.profesion}}</li>
				<li><strong>Sexo:</strong> {{ user.sexo}}</li>
				<li class="nav-header"><center>Localización</center></li>
				<li><strong>Coordenada X:</strong> 
					{% if user.px %}
						{{ user.px}}
					{% else %}
						
					{% endif %}</li>
				<li><strong>Coordenada Y:</strong> 
					{% if user.py %}
						{{ user.py}}
					{% else %}
						
					{% endif %}</li>
			</ul>
		</div>
	</div>
	<div class="span4">
		<div class="well sidebar-nav">
			<table class="table table-striped table-hover">
				<tr>
					<td><strong>Últimas rutas</strong></td>
					<td><a class="btn btn-info btn-block" href="/rutas/nueva"><i class="icon-file"></i><i class="icon-map-marker"></i></a></td>
				</tr>
				{% if ultimas_rutas %}
					{% for ruta in ultimas_rutas %}
						<tr>
							<td><a href="/rutas/{{ ruta.id }}">{{ ruta.titulo }}</a></td>
							<td><a class="btn btn-danger btn-block" href="/rutas/borrar/{{ ruta.id }}"><i class="icon-remove"></i><i class="icon-map-marker"></i></a></td>
						</tr>
					{% endfor %}
    			{% else %}
					<tr>
						<td><strong>No hay rutas</strong></td>
						<td></td>
					</tr>
    			{% endif %}
			</table>
		</div>
	</div>
 	<div class="span4">
		<div class="well sidebar-nav">
			<table class="table table-striped table-hover">
				<tr>
					<td><strong>Últimas búsquedas</strong></td>
					<td></td>
					<td></td>
				</tr>
				{% if ultimas_busquedas %}
					{% for busqueda in ultimas_busquedas %}
						<tr>
							<td><a href="/misbusquedas/{{ busqueda.id }}">{{ busqueda.titulo }}</a></td>
							<td><a class="btn btn-success btn-block" href="/misbusquedas/realizar/{{ busqueda.id }}"><i class="icon-play"></i><i class="icon-globe"></i></a></td>
							<td><a class="btn btn-warning btn-block" href="/misbusquedas/salir/{{ busqueda.id }}"><i class="icon-remove"></i><i class="icon-globe"></i></a></td>
						</tr>
					{% endfor %}
    			{% else %}
					<tr>
						<td><strong>No hay búsquedas</strong></td>
						<td></td>
						<td></td>
					</tr>
    			{% endif %}
			</table>
		</div>
	</div>
</div>
{% endblock %}