{% extends "base.html" %}

{% block titulo %}TH | Tesoro {% endblock %}

{% block footerScripts %}
	<style>
		#mapa img
		{
			max-width: none;
		}
		#recoger
		{
			visibility:hidden;
		}
	</style>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCOK5exbY-SG6W6cr-EoH2jv9llU2uOFyA&sensor=true&amp;libraries=geometry"></script>
	<script type="text/javascript">
		$(document).ready(function()
		{
			inicializar()
		});

		var map;
		var distancia;
		var coordX = document.getElementById('coordx').innerHTML;
		var coordY = document.getElementById('coordy').innerHTML;
		var myLatlng = new google.maps.LatLng(coordX,coordY);

		function inicializar() {
			
  			var mapOptions = {
    		zoom: 10,
    		mapTypeId: google.maps.MapTypeId.ROADMAP
  		};
  		
  		map = new google.maps.Map(document.getElementById('mapa'), mapOptions);
  		
  		var marker = new google.maps.Marker({
      		position: myLatlng,
      		map: map,
      		title: 'Tesoro',
      		icon: '{{STATIC_URL}}img/moneda_takara.png'
  		});

  		// Try HTML5 geolocation
 		if(navigator.geolocation) {
    		navigator.geolocation.getCurrentPosition(function(position) {
     		var posActual = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
     		document.getElementById('posx').innerHTML = position.coords.latitude;
     		document.getElementById('posy').innerHTML = position.coords.longitude;

			var marker_mov = new google.maps.Marker({
 				position: posActual,
  				map: map,
  				title: 'Posicion actual'
  			});

      		map.setCenter((myLatlng));
      		
      		var lineCoordinates = [
    			posActual, 
    			myLatlng
  			];
  			
  			var lineSymbol = {
    			path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
    			scale: 5,
    			strokeColor: '#393'
  			};

  			line = new google.maps.Polyline({
    			path: lineCoordinates,
    			strokeColor: '#393',
    			icons: [{
      				icon: lineSymbol,
      				offset: '100%'
    			}],
    			map: map
 			});
 			
 			var count = 0;
    		window.setInterval(function() {
      			count = (count + 1) % 200;

      			var icons = line.get('icons');
      			icons[0].offset = (count / 2) + '%';
      			line.set('icons', icons);
  			}, 20);
  			
  			distancia = google.maps.geometry.spherical.computeDistanceBetween(myLatlng, posActual);
  			document.getElementById('dist').innerHTML = distancia + ' metros';
  			
  			if(distancia > 20.0) //Esto hay que cambiarlo cuando acabemos
  			{
  				document.getElementById('recoger').style.visibility = "hidden";
  				document.getElementById('aviso').innerHTML = "La opcion '<b>Atrapar Tesoro'</b> se mostrará cuando tu distancia sea inferior a <b>10 metros</b><br> Tu distancia actual es de <b>" + distancia + " metros</b>";
  			}
  			else
  			{
  				document.getElementById('recoger').style.visibility = "visible";
  				document.getElementById('aviso').innerHTML = "";
  			}
  			
    		}, function() {
      			handleNoGeolocation(true);
    		});
  		} else {
    		// Browser doesn't support Geolocation
    		handleNoGeolocation(false);
  		}
		}

		function handleNoGeolocation(errorFlag) {
  			if (errorFlag) {
    			var content = 'Error: El servicio de geolocalización ha fallado.';
  			} else {
    			var content = 'Error: Tu navegador no soporta geolocalización.';
  			}

  			var options = {
    			map: map,
    			position: new google.maps.LatLng(60, 105),
    			content: content
  			};
 
  			map.setCenter(options.position);
	}

	google.maps.event.addDomListener(window, 'load', initialize);


			
	
	</script>
{% endblock %}

{% block contenido %}
<div class="well sidebar-nav">
	<center><a id="recoger" class="btn btn-info btn-block" href="/busquedas/realizar/atrapar/{{ busqueda.id }}">Atrapar Tesoro</a></center>
	<center><p id="aviso"></p></center>
</div>
<div class="row-fluid">
	<div class="span6">
		<div class="well sidebar-nav">
			<p><strong>Tesoro:</strong>
				<table class="table table-bordered table-condensed">
					<tr>
						<td><p><strong>Coordenada X:</strong></p></td>
						<td id="coordx">{{tesoro.x|stringformat:"f" }}</td>
					</tr>
					<tr>
						<td><p><strong>Coordenada Y:</strong></p></td>
						<td id="coordy">{{tesoro.y|stringformat:"f" }}</td>
					</tr>
					<tr>
						<td><p><strong>Distancia:</strong></p></td>
						<td id="dist"></td>
					</tr>
				</table>
				<br>
				<p><strong>Tu posicion:</strong>
				<table class="table table-bordered table-condensed">
					<tr>
						<td><p><strong>Coordenada X:</strong></p></td>
						<td id="posx"></td>
					</tr>
					<tr>
						<td><p><strong>Coordenada Y:</strong></p></td>
						<td id="posy"></td>
					</tr>
				</table>
				
			<p><strong>Título:</strong> {{busqueda.titulo}}</p>
			<p><strong>Descripción:</strong> {{busqueda.descripcion}}</p>
			<p><strong>Participantes:</strong> </p>
			{% if participantes %}
				{% for participante in participantes %}
					<ul>
						<li>{{participante.username}}</li>
					</ul>
				{% endfor %}
			{% else %}
				<p>No hay participantes</p>
			{% endif %}	
		</div>
	</div>
 	<div class="span6">
		<div class="well sidebar-nav">
			<div id="mapa" style="width: 445px; height: 441px"></div>
		</div>
	</div>
</div>
{% endblock %}