{% extends "base.html" %}

{% block titulo %}TH | Atrapado {% endblock %}

{% block footerScripts %}

<script type="text/javascript">
	$(document).ready(function()
	{
		document.getElementById('audio').play();
	});
</script>
{% endblock %}

{% block contenido %}
<audio id="audio" src="{{STATIC_URL}}sounds/shop.mp3" preload="auto"></audio>
<div class="well sidebar-nav">
	<center><h1>¡ENORABUENA!</h1></center>
	<center><h4>Has conseguido atrapar un tesoro. Dirígete al HALL para ver tu posición en el Ranking y no dejes de unirte a nuevas búsquedas para conseguir más tesoros</h4></center>
	<br>
	<center><img src='{{STATIC_URL}}img/takara_wallpaper.png' class="img-rounded"></center>
</div>
{% endblock %}