{% extends "base.html" %}

{% block titulo %}TH | Atrapado {% endblock %}

{% block footerScripts %}

<script type="text/javascript">
		$(document).ready(function()
		{
			document.getElementById('audio').play();
		});
</script>
{% endblock %}

{% block contenido %}
<audio id="audio" src="{{STATIC_URL}}sounds/shop.mp3" preload="auto"></audio>
<div class="row-fluid">
	<br>
	<div class="span" align="center">
		<h1>¡ENORABUENA!</h1>
		<h4>Has conseguido atrapar un tesoro. Dirígete al HALL para ver tu posición en el Ranking y no dejes de unirte a nuevas búsquedas para conseguir más tesoros.</h4>
		<br>
		<img src='{{STATIC_URL}}img/tesoro.jpg' class="img-rounded">
	</div>
</div>
<br><br>
{% endblock %}